<div class="container">
  <div class="row">

   <div class="col-md-2 logo">
  </div>
    <div class="col-md-2 brand">
    
    </div>
      <div class="col-md-8 bghome">
      <div class="topnav">
        <p style="font-size: 12px; color: #f2f2f2; text-align: end;">Questions? Call us:012-345-6789</p>
        <a [routerLinkActive]="['/home']">HOME</a>
        <a [routerLink]="['/getaquote']">GET A QUOTE</a>
        <a [routerLink]="['/billing']">PAY A BILL</a>
        <a [routerLink]="['/claims']">CLAIMS</a>
        <a [routerLink]="['/findaagent']">FIND A AGENT</a>
        <a [routerLink]="['/login']">SIGN IN</a>
      </div>
  </div> 
    
  </div>

    <div class="row">
      <div class="column-66">
        <div class=" besidehome">
          <h1 class="small-font" style="margin-left:0;"><b>THE FUTURE OF SECURED HOMES</b></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam</p>
          <input type="image" src="./assets/Images/fileclaim.png" alt="submit" (click)="fileclaim()" style="margin-left:1px;">
        </div>
      </div>
      <div class="column-33">
        
      </div>
    </div>
  

 </div>

<div class="container">
  <div class="row">
    <div class="column">
     
      <div class="card" >
        <img src="./assets/Images/getahome.png" class="getahome">
        <h1 class="xsmall-font"><b>WE ENSURE HOMES</b></h1>
        <p style="font-size: 12px;">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut</p>
       
      </div>
     
    </div>
    <div class="column">
      <div class="card">
        <img src="./assets/Images/contactus.png" class="contactus">
        <h1 class="xsmall-font"><b>CONTACT US</b></h1>
        <p style="font-size: 12px;">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="./assets/Images/findagent.png" class="findagent">
        <h1 class="xsmall-font"><b>FIND AN AGENT</b></h1>
        <p style="font-size: 12px;">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut</p>
      </div>
    </div>
  </div>
</div>

<div class="container bgimg">
<div class="container">
  <div class="row">
    <div class="column-33 " >
      <img src="./assets/Images/img.png" class="image2"  alt="App">
    </div>
    <div class="column-66 mobile">
      <h1 class="small-font" style="margin-left:100px;"><b>WE ENSURE HOMES</b></h1>
      <p style="margin-left:100px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam</p>
     <input type="image" src="./assets/Images/viewmore.png" alt="submit" (click)="viewmore()" style="margin-left: 90px;">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="column-66 claim">
      <h1 class="small-font claim" style="margin-left:200px ;"><b>NAVIGATE THE CLAIM PROCESS</b></h1>
      <p style="margin-left:200px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore <br>magna aliqua. Ut enim ad minim veniam</p>
      <input type="image" src="./assets/Images/viewmore.png" alt="submit" (click)="viewmore()" style="margin-left:190px ;">
    </div>
    <div class="column-33">
        <img src="./assets/Images/img1.png">
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="column-33">
      <img src="./assets/Images/img2.png" class="image2"  alt="App">
    </div>
    <div class="column-66">
      <h1 class="small-font mobile"><b>GET OUR MOBILE APP</b></h1>
      <p style="margin-left:50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore <br>magna aliqua. Ut enim ad minim veniam</p>
      <div>
      <input type="image" src="./assets/Images/appstore.png" alt="submit" (click)="appstore()">
      <input type="image" src="./assets/Images/playstore.png" alt="submit" (click)="playstore()">
    </div>
    </div>
  </div>
</div>

<footer class="container footer">
    <div class="row" style="margin-left:170px; margin-top:20px;">
      <div class="column footer-link">
     <a href="#">Ads & Tracking</a>
     <br>
     <a href="#">Notice of Privacy Policy</a>
      </div>
     <div class="column footer-link">
      <a href="#">Security & Fraud</a>
      <br>
      <a href="#">Terms of Use</a>
     </div>
     <div class="column footer-link">
      <a href="#">Site Map</a>
      <br>
      <a href="#">Business to Business</a>
     </div>
    </div>
    
    <div class="row" style="margin-left: 370px;">
     <div class="col-sm-1" style="padding: 10px 10px 10px 10px; margin-left: 10px; text-align: center;">
     <input type="image" src="./assets/Images/facebook.png" alt="submit" style="width: 35px;height: 40px;border-radius: 6px;">
     </div>
     <div class="col-sm-1" style="padding: 10px 10px 10px 10px; margin-left: 10px; text-align: center;">
      <input type="image" class="icon"  src="./assets/Images/pinterest.png" alt="submit" style="width: 35px;height: 40px;">
      </div>
      <div class="col-sm-1" style="padding: 10px 10px 10px 10px; margin-left: 10px; text-align: center;">
        <input type="image" class="icon"  src="./assets/Images/twitter.png" alt="submit" style="width: 35px;height: 40px;">
        </div>
        <div class="col-sm-1" style="padding: 10px 10px 10px 10px; margin-left: 10px; text-align: center;">
          <input type="image" class="icon"  src="./assets/Images/instagram.png" alt="submit" style="width: 35px;height: 40px;">
          </div>
    </div>
  <div class="footer-copyright text-center py-3 text-muted">© 2020 Copyright
  </div>
  
</footer>
